body, html {
height: 100%;
width: 100%
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 1;
}

header div h2 {
	margin-left:20px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}


header nav {
  display: flex;
  justify-content: flex-end;
  font-size: 30px; 
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  margin-top: 83px;
  display: flex;
  align-items: center;
  background-image: url('wheat-field_421.jpeg');
  background-size: cover;
  color: #ffffff;
  height: 300px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #0066cc;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #0066cc;
}

.mainsec p {
	text-align: center;
	
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

p {
	font-size: 200%;
	color: #003399;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding:  0;
  text-align: center;
}

#footer-widget {
  background-color: #4db8ff;
  height:250px;
	
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.foot {
	text-align: center;
	padding: 10px;
	
}